<main>
<article>

	<h1>메모리스트 페이지입니다.</h1>
		<hr>
		<% @memolist.each do |p|%>
		<p><a href="/home/reading/<%=p.id%>"><%= p.title %></p>
		<hr>
		<% end %>

	<div>
		
		
	
	    <h2>3월</h2>
		<p><a href="/home/reading">1교시</a></p>
		<p><a href="/home/reading">2교시</a></p>
		<p><a href="/home/reading">오픈소스 과제</a></p>
		<hr>
	
		<h2>2월</h2>
		<p><a href="/home/reading">2교시</a></p>
		<p><a href="/home/reading">OT내용</a></p>
		<hr>
	
		<h2>1월</h2>
		<p>없음</p>
	
	</div>
    
    <p><a href="/home/menu">메뉴로</a></p>




</article>
</main>



<footer>
    <p> 제작자 </p>
</footer>






