<main>
<article>

<h1>메뉴입니당</h1>
<div>
    <h2>즐겨찾기 한 목록</h2>
		<section id="memolist">
			
					<hr>
					<% predate = 0 %>
					<% @memolist.each do |p|%>
						
						
						<% if p.date != predate %>
							<hr>
							<h1><%= p.date %></h1>
							<% predate = p.date %>
						<% end %>
						<div class="list">
						<p><a href="/home/reading/<%=p.id%>"><%= p.title %></a></p>
						</div>
					<% end %>
		</section>
</div>

<p><a href = "/home/writing">필기쓰기</p>
<p><a href = "/home/memolist">목록보기</p>
<p><a href = "/home/setting">관리</p>




</article>
</main>



<footer>
    <p> 제작자 </p>
</footer>






