<main>
<article>

<h1>메뉴입니당</h1>
<div>
    <h2>즐겨찾기 한 목록</h2>
    <hr>
    <p>1교시</p>
    <p>2교시</p>
    <hr>
    <p>3교시</p>
    <hr>
</div>

<p><a href = "/home/writing">필기쓰기</p>
<p><a href = "/home/memolist">목록보기</p>
<p><a href = "/home/setting">관리</p>




</article>
</main>



<footer>
    <p> 제작자 </p>
</footer>






