<main>
<article>

<h1>글읽기 페이지입니다.</h1>
<hr>
<hr>

<%= @spe_memo.title %>

<p>글 이름이 있다 칩시다.</p>
<p>글 내용이 있다 칩시다.</p>
<hr>

<a href="/home/memolist"><p>[삭제하기]</p>
<a href="/home/memolist"><p>[Email로 전송]</p>
<a href="/home/memolist"><p>[수정하기]</p>
<a href="/home/memolist"><p>[글 목록으로 가기]</p>


</article>
</main>


<footer>
    <p> 제작자 </p>
</footer>












