<main>
<article>




    <h1>세팅 페이지 입니다.</h1>

    <p>과목을 선택하세용</p>
    <p>오픈소스</p>
    <p>알고리즘</p>
    <p>자바플그밍</p>
    <p>컴퓨터구조</p>


    <input type="date" name="bday" value="2017-03-18"><br>

    <!-- value="2017-03-22" -->

    <p>이메일: <input type="text" name="fname" value="masima305@gmail.com"></p>
    <input type="submit">

    <p><a href = "/home/menu">섭밋 했다치고</p>










</article>
</main>



<footer>
    <p> 제작자 </p>
</footer>












