/*general style*/

body{
    background-color: gray;
}
main{
    text-align: center;
    margin: 0px 20% 10% 20%;
    border: 1px solid red;
    background-color: white; 
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    text-align: left;
    height: 3%;
    border : 1px solid black;
    color: white;
    padding: 0.7rem;
}

footer p{
    margin: auto;
}
