/*general style*/

body{
    background-color: gray;
}
main{
    text-align: center;
    margin: 0px 20% 10% 20%;
    border: 1px solid red;
    background-color: white; 
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    text-align: left;
    height: 3%;
    border : 1px solid black;
    color: white;
    padding: 0.7rem;
}

footer p{
    margin: auto;
}
article{
    text-align: center;
    overflow: hidden;
    
}

section{
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 25px;
    overflow: hidden;
}


/*setting page*/

.set_list{
    overflow: hidden;
    width: 35%;
    text-align:center;
    float:left;
    margin-right: 0px;
}
.set_list div {
    overflow-y: scroll;
    height: 300px;
}
.set_list div p{
    border: 1px, solid, black;
    border-radius: 20px;
    color: white;
    background-color: rgba(0,0,255,0.3);
    width: 80%;
    margin: 5px;
}
.set_listin{
    overflow: hidden;
    width: 35%;
    height: 150px;
    float:right;
    margin-left: 0px;
}

/*writing page*/
.writ textarea{
    overflow-y: scroll;
}
.writ{
    padding: 10px;
}
.title{
    width:50%;
}
/*list page*/
#memolist{
    overflow-y: scroll;
    eight: 150px;
    
}