<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta charset="UTF-8">
  <meta name="free memopad" content="Free memo">
  <link rel="stylesheet" type="text/css" href="mystyle.css">

  <%= csrf_meta_tags %>



</head>
<body>

<%= yield %>

</body>
</html>
